.idea/jsLibraryMappings.xml
.idea/dictionaries/Diarmuid.xml
.idea/encodings.xml
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/ROOT.iml
.idea/vcs.xml
.idea/workspace.xml
js/OLD/query.js
js/OLD/roomDetails.js
js/OLD/sensorDetails.js
js/OLD/sensorModify.js